:root {
  --blue: #008cba;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #f04124;
  --orange: #fd7e14;
  --yellow: #e99002;
  --green: #43ac6a;
  --teal: #20c997;
  --cyan: #5bc0de;
  --white: #fff;
  --gray: #888;
  --gray-dark: #333;
  --primary: #008cba;
  --secondary: #eee;
  --success: #43ac6a;
  --info: #5bc0de;
  --warning: #e99002;
  --danger: #f04124;
  --light: #eee;
  --dark: #222;
  font-family: "Roboto", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
}

body {
  margin: 0;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--dark);
  text-align: left;
  background-color: var(--white);
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 0.825rem;
}

button,
input {
  margin: 0;
}

table {
  border-collapse: collapse;
  font-size: 0.825rem;
}

/* MAIN CONTAINER */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.text-primary {
  color: var(--primary);
}

/* FORM STYLING */

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.5rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: var(--white);
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  display: inline-block;
  font-weight: 300;
  color: var(--dark);
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.5rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary {
  border-color: #0079a1;
}

.btn-danger {
  color: var(--white);
  background-color: var(--danger);
  border-color: var(--danger);
  text-decoration: none;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.825rem;
  line-height: 1.5;
  border-radius: 0;
}

.btn-danger {
  border-color: #ea2f10;
}

/* TABLE STYLING */

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: var(--dark);
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.text-center {
  text-align: center;
}

/* MARGINS */

.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 3rem;
}
